<!doctype html>

<title>{% block title %}Peptide FAIMS CV Prediction{% endblock %}</title>

<link rel="stylesheet" href="{{ url_for("static", filename="style.css") }}">

<nav>
    <h1><a href="/">FAIMS</a></h1>
    <ul>
        <a href="/about">About</a>
    </ul>
</nav>

<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    <body>
        <div class="flex-container" style="margin-right: 0;">
            <div class="main-content">
                {% block content %}{% endblock %}
            </div>
        </div>


    </body>
</section>