{% extends "base.html" %}

{% block header %}
    {% block title %}{% endblock %}
    <script src="/static/js/index.js"></script>
{% endblock %}

{% block content %}

    <h4>Deep Learning Predicts Peptide Transmission Profiles through FAIMS Directly from Sequence</h4>
    <p>This page allows you to submit a list of peptides and obtain predictions for its peptide transmission profile, as
    described in the related publication. You can submit the list either via a file upload or by entering them in the
    textbox below. The peptide list should be delimited by newlines, commas, or spaces. The format for each entry should
        follow: <b>#AAAAA</b>, where "#" indicates the charge of the peptide, and the following characters represent the
        amino acids. Lowercase "m" can be used to indicate oxidized methionine.</p>
    <button onclick="populate_example('peptides');">Generate example input</button>
    <p>Once submitted, the data will be parsed by the server and passed through the model; large submissions may take a
    few minutes to process. Model results will be made available for download near the bottom of the page. The results
    consist of two files: <i>predictions.npy</i> and <i>prediction_labels.txt</i>. The <i>prediction_labels.txt</i>
    contains the predictions for each submitted peptide, ordered by strongest to weakest prediction above the cutoff.
    The <i>predictions.npy</i> file is a numpy array file that contains the predictions of the model for each of the 16
    labels; the file is made available for those who wish to apply their own post-processing.</p>

    <label for="btn_upload">Upload list of peptides:</label>
    <input id="file_peptides" type="file">

    <form id="submission_form" method="POST" enctype="multipart/form-data">
        <label for="job_name">Name for the job:</label>
        <input id="job_name" name="job_name" placeholder="Name to use for later reference.">
        <label for="peptides">List of peptides:</label>
        <textarea name="peptides" id="peptides" placeholder="Newline-separated list of peptides"></textarea>
        <input id="btn_submit" type="submit" value="Submit">
    </form>
    <p>NOTE: The site uses the session cookie to link you to your results. If you clear your browser cookies, you
    will lose access to the results. Results that are not accessed for more than 30 days will be deleted. In the event
    that server storage must be freed, the oldest results will be deleted.</p>
    {% if jobs is defined %}
        {%  if jobs["completed"] is defined %}
            <h3>Completed jobs:</h3>
            {% for jobs_c in jobs["completed"] %}
                <p>{{ jobs_c["job_name"] }} - {{ jobs_c["creation_time"] }} - <a href="/results/{{ jobs_c['id_peptides'] }}">Download</a></p>

            {% endfor %}
        {% endif %}
        {% if jobs["running"] is defined and jobs["running"] | length > 0%}
            <h3>Running:</h3>
            {% for jobs_r in jobs["running"] %}
                <p>{{ jobs_r["job_name"] }} - {{ jobs_r["creation_time"] }}</p>
            {% endfor %}
        {% endif %}

        {% if jobs["queued"] is defined and jobs["queued"] | length > 0%}
            <h3>Queued:</h3>
            {% for jobs_q in jobs["queued"] %}
                <p>{{ jobs_q["job_name"] }} - {{ jobs_q["creation_time"] }}</p>
            {% endfor %}
        {% endif %}

        {% if jobs["error"] is defined and jobs["error"] | length > 0 %}
            <h3>Error:</h3>
            {% for jobs_e in jobs["error"] %}
                <p>{{ jobs_e["job_name"] }} - {{ jobs_e["creation_time"] }}</p>
            {% endfor %}
        {% endif %}

    {% endif %}
    <script src="/static/js/upload.js"></script>
{% endblock %}